@import "../../scss/variables.scss";

.note {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;

  &:first-child .up {
    opacity: 0.5;
    pointer-events: none;
  }

  &:last-child .down {
    opacity: 0.5;
    pointer-events: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__controls {
    display: flex;
    gap: 5px;
    margin: 0 0 0 15px;
  }

  &__control {
    width: 36px;
    height: 36px;
    background: none;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;

    &.arrow {
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 3px;
        height: 24px;
        background: $blue;
      }

      &.up::before {
        bottom: 2px;
      }

      &.down::before {
        top: 2px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border: 5px solid transparent;
      }

      &.up::after {
        top: -3px;
        border-bottom: 10px solid $blue;
      }

      &.down::after {
        bottom: -3px;
        border-top: 10px solid $blue;
      }

      &:hover {
        background: $blue;
        color: $white;

        &::before {
          background: $white;
        }

        &.up::after {
          border-bottom-color: $white;
        }

        &.down::after {
          border-top-color: $white;
        }
      }
    }

    &.delete {
      &::before,
      &::after {
        content: "";
        width: 3px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: $red;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(35deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-35deg);
      }

      &:hover {
        background: $red;

        &::before,
        &::after {
          background: $white;
        }
      }
    }
  }

  &__title {
    flex: 1 1 auto;
    font-size: 33px;
    line-height: 1;
    cursor: pointer;

    &.completed {
      text-decoration: line-through;
    }
  }
}
