.btn,
.input {
  padding: 7px 10px;
  font-size: 22px;
  background: transparent;
  outline: none;
  border-width: 2px;

  @media (min-width: $md) {
    padding: 7px 15px;
    font-size: 24px;
  }
}

.btn {
  white-space: nowrap;
  user-select: none;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border-color: transparent;

  &:hover {
    text-decoration: underline;
  }

  &--blue {
    color: $blue;
  }

  &--red {
    color: $red;
  }
}

.input {
  border-color: $black;

  &.error {
    border-color: $red;
  }

  &::placeholder {
    color: $blue;
  }
}

.radio {
  cursor: pointer;

  &__native {
    display: none;
  }

  &__custom {
    display: inline-block;
    vertical-align: top;
    border: 1px solid $black;
    position: relative;
    overflow: hidden;
    background: none;
    outline: none;
    pointer-events: none;
    margin-top: 4px;
    margin-right: 4px;
    width: 24px;
    height: 24px;

    @media (min-width: $md) {
      margin-top: 8px;
      margin-right: 8px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      opacity: 0;
    }
  }

  &__text {
    font-size: 33px;
    line-height: 1;

    @media (min-width: $md) {
      font-size: 35px;
    }
  }

  &__native:checked + &__custom {
    &::before {
      opacity: 1;
    }
  }
}

.radio {
  &__custom {
    border-radius: 50%;

    &::before {
      width: 60%;
      height: 60%;
      background: $blue;
      border-radius: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
