.to-do {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: repeat-y 90% 0% / 870px url("../../img/sheet.jpg");
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  padding: 20px 15px;

  @media (min-width: $md) {
    background-position: center;
    padding: 20px;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.6);
  }

  @media (min-width: $lg) {
    box-shadow: 25px 25px 5px rgba(0, 0, 0, 0.6);
  }

  &__title {
    text-align: center;
    font-size: 46px;
    margin: 0 0 20px 0;

    @media (min-width: $md) {
      font-size: 50px;
      margin: 0 0 30px 0;
    }

    @media (min-width: $lg) {
      font-size: 55px;
    }

    @media (min-width: $xl) {
      font-size: 60px;
    }
  }

  &__h2 {
    font-size: 38px;
    margin: 0 0 10px 0;

    @media (min-width: $md) {
      font-size: 42px;
      margin-bottom: 15px;
    }

    @media (min-width: $lg) {
      font-size: 44px;
    }

    @media (min-width: $xl) {
      font-size: 48px;
    }
  }

  &__header {
    @media (min-width: $sm) {
      display: flex;
      gap: 15px;
    }

    &-column {
      margin: 0 0 20px 0;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $sm) {
        flex-shrink: 0;
        width: calc(50% - 8px);
        margin-bottom: 0;
      }
    }
  }

  &__filter {
    padding: 0;
    margin: 0;
    list-style: none;

    &-item {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $md) {
        margin-bottom: 10px;
      }
    }
  }

  &__search {
    width: 100%;

    @media (min-width: $xs) {
      max-width: 250px;
    }
  }

  &__header,
  &__list,
  &__message,
  &__loader {
    margin: 0 0 20px 0;

    @media (min-width: $md) {
      margin-bottom: 30px;
    }
  }

  &__list {
    flex: 1 1 auto;
    list-style: none;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    &:first-child {
      .arrow:nth-child(1) {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &:last-child {
      margin-bottom: 0;

      .arrow:nth-child(2) {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    @media (min-width: $md) {
      margin-bottom: 15px;
    }

    &-buttons {
      margin: 0 0 0 15px;
      display: flex;
      gap: 5px;
    }

    &-control {
      background: none;
      border-color: transparent;
      outline: none;
      width: 36px;
      height: 36px;
      cursor: pointer;

      &.arrow {
        color: $blue;
        font-size: 36px;
        line-height: 1;
        text-align: center;

        &:hover {
          background: $blue;
          color: $white;
        }
      }

      &.delete {
        color: $red;
        font-size: 30px;
        line-height: 26px;
        font-weight: 600;
        text-align: center;

        &:hover {
          background: $red;
          color: $white;
        }
      }
    }

    &-title {
      flex: 1 1 auto;
      font-size: 33px;
      line-height: 1;
      cursor: pointer;

      @media (min-width: $md) {
        font-size: 35px;
      }

      &.completed {
        text-decoration: line-through;
      }
    }
  }

  &__message {
    font-size: 33px;
    line-height: 1;

    @media (min-width: $md) {
      font-size: 35px;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 0;
    margin-top: auto;

    @media (min-width: $sm) {
      flex-wrap: nowrap;
      gap: 0 10px;
    }
  }

  &__input {
    width: 100%;

    @media (min-width: $sm) {
      width: 100%;
    }
  }

  &__add {
    width: 100%;

    @media (min-width: $sm) {
      width: auto;
      margin-left: auto;
    }
  }

  &__delete {
    width: 100%;

    @media (min-width: $sm) {
      width: auto;
    }
  }
}
