@import "../../../scss/variables.scss";

.input {
  padding: 7px 15px;
  font-size: 24px;
  background: transparent;
  outline: none;
  border: 2px solid $black;
  border-radius: 0;

  &::placeholder {
    color: $blue;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.error {
    border-color: $red;
  }

  &.error::placeholder {
    color: $red;
  }
}
