@import "../../../scss/variables.scss";

.input {
  padding: 7px 10px;
  font-size: 22px;
  background: transparent;
  outline: none;
  border: 2px solid $black;

  &::placeholder {
    color: $blue;
  }

  &.error {
    border-color: $red;
  }

  @media (min-width: $md) {
    padding: 7px 15px;
    font-size: 24px;
  }
}
