@import "../../../scss/variables.scss";

.radio {
  cursor: pointer;

  &__native {
    display: none;
  }

  &__custom {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $black;
    position: relative;
    overflow: hidden;
    background: none;
    outline: none;
    pointer-events: none;
    margin-right: 4px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      background: $blue;
      border-radius: 50%;
      opacity: 0;
    }
  }

  &__native:checked + &__custom::before {
    opacity: 1;
  }

  &__label {
    font-size: 33px;
    line-height: 1;
  }
}
