///////////////////////////////////
// BREAKPOINTS
/////////////////////////////////////
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 414px;

///////////////////////////////////
// COLORS
/////////////////////////////////////
$white: #ffffff;
$black: #000000;
$blue: #120A8F;
$red: red;

